@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
}

nav ul li a:hover::after {
  width: 60%;
  top: 63px;
}
nav ul li a::after {
  content:'';
  background-color: rgb(238, 143, 26);
  height: 3px;
  display: block;
  position: absolute;;
  width: 0px;
  top: 63px;
  transition: all 100ms;
}
nav ul li a {
  display: flex;
  justify-content: center;
}

.side-cart {
  animation: slideIn 300ms;
}

@keyframes slideIn {
    from {
        margin-right: -100%
    } to {
      margin-right: 0
    }
}